.layout  { display:flex; min-height:100vh; }
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100px;
  padding: 0;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}
.content {
  margin-left: 100px;
  flex: 1 1 auto;
  padding: 2rem 1.5rem;
  overflow-y: auto;
}

.sidebar ul { list-style:none; margin:0; padding:0; }
.sidebar li { margin:0; }
.sidebar ul ul { margin-left:0.5rem; }